{% extends "papersearchengine/base_generic.html" %}
{% load static %}
{% block navlinks %}
<ul class="navbar-nav mr-auto">

          <li class="nav-item">
              <a class="nav-link" href="/searchengine/phrasesearch">Paper Given Phrase</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/searchengine/titlesearch">Paper Given Paper's Title</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/searchengine/authorsearch">Paper Given Author</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/searchengine/citedpapersearch">Citation Contexts Given Cited Paper's Title</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/searchengine/citedauthorsearch">Citation Contexts Given Cited Paper's Author </a>
              <span class="sr-only">(current)</span> 
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/searchengine/about">About Us</a>
          </li>
      </ul>
{% endblock %}
{% block content %}

<div class="flex-row">
    <div class="col-12 pt-3">
        <div class="card card-image colour1 mb-2">
            <div class="text-white text-center">
                <div>	
		{% if numresults == 0 %}
			Sorry, your query <strong> {{ query }} </strong> returned no results.

		{% elif numresults == 1 %}
      <span class="small">Displaying <strong> one and only paper </strong> paper{{numresults|pluralize}} which contains a
      citation associated with your search query, <strong>{{ query }}</strong>.</span><br/>
        <span class="small">Note: When multiple sentences in a paper contain the same citation, they are grouped together under the
      same result. </span><br/>
        <span class="small">In the results, the predicted polarity of each citation context is represented as follows:
                                            &#x1F44D: positive, &#x270B: neutral, &#x1F44E: negative </span> <br/>
    {% elif numresults <= numrows %}
			<span class="small">Displaying <strong> all {{ numresults }} </strong> paper{{numresults|pluralize}} which contain a
 			citation associated with your search query, <strong>{{ query }}</strong>.</span><br/>
        <span class="small">Note: When multiple sentences in a paper contain the same citation, they are grouped together under the
      same result. </span><br/>
   			<span class="small">In the results, the predicted polarity of each citation context is represented as follows:
                                            &#x1F44D: positive, &#x270B: neutral, &#x1F44E: negative </span> <br/>

		{% else %}
			Displaying top <strong>{{ numrows }} </strong> paper{{numrows|pluralize}} which contain a
 			citation associated with your search query, <strong>{{ query }}</strong>.  </span> <br/>
      <span class="small"> Note: When multiple sentences in a paper contain the same citation, they are grouped together under the
      same result. </span> <br/>
			<span class="small">In the results, the predicted polarity of each citation context is represented as follows:
                                            &#x1F44D: positive, &#x270B: neutral, &#x1F44E: negative </span> <br/>

		{% endif %}
		<a href="/searchengine/citedauthorsearch" class="btn teal darken-2 btn-md text-white">Search again</a>
                </div>
            </div>
        </div>
    </div>
<h5>

</h5>
<div class="card-group">
	<div class="flex-row mb5">
        {% for annotation, details, sentence_list, arxiv_identifier, title, authors, arxiv_url, published_date, revision_dates, dblp_url in results %}
            <div class="col-12">
                <div class="card mb-4 mt-3 teal darken-4 resultscard">
                    <div class="card-header #text-white colour1">
                    <h5><a href="{{arxiv_url}}" target="_blank" class="text-white"><u>{{forloop.counter}}. {{title}} </u></a></h5>
                    </div>
                    <!--Card content-->
                    <div class="card-body text-white teal darken-3">
                            <!--Title-->
                        <h5 class="card-title"> {{authors}} </h4>
                                {% if revision_dates != 'unavailable' %} 
                                <h6> {{published_date}} </h6> 
                                    <h6> Submitted on {{published_date}}, {{revision_dates}}. </h6>
                                <br/>
                                {% else %}
                                    <h6> Submitted on {{published_date}}. <br/> </h6>
                                {% endif %}
                        {% if sentence_list|length == 1 %}
                                {% for sentence, annotation_indices, before_annotation_indices, after_annotation_indices in sentence_list %}
                              <p> {{sentence|slice:before_annotation_indices}} 
                              <span class="cyan accent-2 black-text">{{sentence|slice:annotation_indices}} </span>
                              {{sentence|slice:after_annotation_indices}} </p>
                            {% endfor %}
                        {% else %}
                            {% for sentence, annotation_indices, before_annotation_indices, after_annotation_indices in sentence_list %}
                                  <p> Hit {{forloop.counter}}: {{sentence|slice:before_annotation_indices}} 
                              <span class="cyan accent-2 black-text">{{sentence|slice:annotation_indices}} </span>
                              {{sentence|slice:after_annotation_indices}} <br/> </p>
                            {% endfor %}
                        {% endif %}
                        <p> <strong>Cited paper details</strong>: {{details}}
                    </div>
       					<div class="card-footer text-muted teal darken-4 text-white">
      						<a href="{{arxiv_url}}" target="_blank">
      						<img src="{% static 'papersearchengine/img/arxivlogo.png' %}" height="30" title="Visit this paper's page on arXiV." class="float-left" alt="arXiV.org"></a>
      						
						{% if dblp_url != 'unavailable' %} 
							<a href="{{dblp_url}}" target="_blank">
     							<img src="{% static 'papersearchengine/img/dblplogo.png' %}" height="30" title="Visit this paper's page on dblp." class="float-right" alt="dblp"> </a>
						{% else %}
     							<img src="{% static 'papersearchengine/img/dblplogo.png' %}" title="No dblp URL found for this result" height="30" class="float-right" alt="dblp"> </a>
						{% endif %}
						<div class=text-center>ArXiV and dblp links for {{arxiv_identifier}}</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
